.dataPicker {
  display: flex;
  color: #00a1ff;

  .dataViewer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 2px;
    padding: 5px;

    .dayViewer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px;
      margin: 3px;
      border-radius: 3px;
      background-color: rgba(20, 20, 20, 0.8);
    }

    .sunDay {
      color: red;
    }
  }
}