.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .clock {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff5,
    0 0 0 20px #333,
    0 0 0 22px #fff,
    0 0 50px #fff,
    0 0 450px #fff;

    ul {
      padding: 0;

      li {
        position: absolute;
        top: 10px;
        list-style: none;
        transform-origin: 0 240px;
        transform: rotate(calc(30deg * var(--i) - 5deg));
        font-size: 2.5em;
        font-weight: bold;
        font-family: Consolas, serif;

        span {
          display: inline-block;
          color: #fff;
          transform: rotate(calc(-30deg * var(--i) + 5deg));
        }
      }
    }

    &:before, &:after {
      content: '';
      position: absolute;
      border-radius: 2px;
      background: linear-gradient(0deg, transparent, #fff);
      transform-origin: bottom;
    }

    &:before {
      width: 2px;
      height: 170px;
      animation: animationMin 3600s steps(60) infinite;
    }

    &:after {
      width: 4px;
      height: 130px;
      animation: animationHour 43200s steps(60) infinite;
    }

    @keyframes animationMin {
      0% {
        transform: translate(-50%, -50%) rotate(calc(0deg + var(--min) * 6deg))
      }

      100% {
        transform: translate(-50%, -50%) rotate(calc(360deg + var(--min) * 6deg))
      }
    }

    @keyframes animationHour {
      0% {
        transform: translate(-50%, -50%) rotate(calc(0deg + var(--hour) * 30deg))
      }

      100% {
        transform: translate(-50%, -50%) rotate(calc(360deg + var(--hour) * 30deg))
      }
    }

  }

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(#08ff12, #0791ff);
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: multiply;
  }

}

