@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.glowingButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;

  button {
    position: relative;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    cursor: pointer;
    outline: none;
    border: none;

    &:hover {
      letter-spacing: 0.25em;
      background-color: var(--clr);
      color: var(--clr);
      box-shadow: 0 0 35px var(--clr);

      i:before {
        width: 20px;
        left: 20%
      }

      i:after {
        width: 20px;
        left: 80%
      }
    }

    &:before {
      content: '';
      position: absolute;
      inset: 2px;
      background-color: #27282c;
    }

    span {
      position: relative;
      z-index: 1;
    }

    i {
      position: absolute;
      inset: 0;
      display: block;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 10px;
        height: 5px;
        border: 2px solid var(--clr);
        background-color: #27282c;
        transform: translateX(-50%);
        transition: 0.5s;
      }

      &:before {
        top: -3.5px;
        left: 80%;
      }

      &:after {
        bottom: -3.5px;
        left: 20%;
      }
    }

    &:active {
      transform: scale(0.8);
    }
  }
}