.slider {
  position: relative;
  display: flex;
  flex-direction: column;

  .viewport {
    position: relative;
    display: flex;

    align-items: center;

    img {
      border-radius: 1%;
    }

    button {
      color: #fff;
      position: absolute;
      background: rgba(15, 15, 15, 0.3);
      height: 50%;
      margin: 15px;
      outline: none;
      border: none;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: rgba(15, 15, 15, 0.6);
      }

      &:active {
        transform: scale(1.1);
      }
    }

    .right {
      right: 0;
    }

    .left {
      left: 0;
    }
  }
}